body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Nav bar on who/what */
.nav-pills > li > a {
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: transparent;

    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: transparent;

    color: steelblue !important;

    font-size: 17.5px;
	font-weight: bold;

}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > li > a:hover {
    text-decoration: none;
    /* font-weight: bold; */
    border-radius: 0px;

    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: transparent;

    border-bottom-width: 2.5px;
    border-bottom-style: solid;
    border-bottom-color: black;

    color: rgb(51, 51, 51) !important;
    background-color: transparent !important;
    /* text-decoration: underline; */

}
.nav-pills > li > a:hover {
	border-bottom-width: 2.5px;
    border-bottom-style: solid;
    border-bottom-color: black;

}
.nav-pills > li > a {
    color: #0d0d0d;
    border-radius:0px;
}
.nav-pills li a {
    border-top: 3px solid transparent;
    display: block;
    padding-top: 7px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.nav-pills li a:focus, .nav-pills li a:hover, .nav-pills li a.current {
	border-top: 3px solid transparent;
}
/*
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
*/

/* My CSS */
.netflixlogo {
	display:table-cell;
	vertical-align:middle;
}
.block {
	float:left;
	height:100px;
}
.pink { 
	/* background:#ee3e64; */
	width:400px; /*useless, delete */
}
.blue { 
	display:table; 
	/* background:#44accf; */
	float:right;
}
.header {
	font-size: 28.5px;
	line-height: 15px;
	margin-top: 25px;
	font-weight: bold;
	text-rendering: optimizelegibility;
}
.date {
	font-size: 18.5px;
	margin: 0;
	font-weight: bold;
	margin-top: 10px;
	color:grey;
}
#data_tile {
	margin-top: 18px;
	background-color: #fafafa;
	border: 2px;
	border-color: black;
	/* height: 120px; */
	border-width: 1.5px;
    border-style: solid;
    border-color: lightgrey;

    border-top-style:solid;
	border-top-width:8px;
	border-top-color:red;

/*
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
*/
}
#post_data_tile {
	margin-top: 18px;
	background-color: #fafafa;
	border: 2px;
	border-color: black;
	/* height: 120px; */
	border-width: 1.5px;
    border-style: solid;
    border-color: lightgrey;

    border-top-style:solid;
	border-top-width:8px;
	border-top-color:#1c578c;
}
#impression_data_tile {
	margin-top: 18px;
	background-color: #fafafa;
	border: 2px;
	border-color: black;
	/* height: 120px; */
	border-width: 1.5px;
    border-style: solid;
    border-color: lightgrey;

    border-top-style:solid;
	border-top-width:8px;
	border-top-color:#f29e38;
}
#passion_data_tile {
	margin-top: 18px;
	background-color: #fafafa;
	border: 2px;
	border-color: black;
	/* height: 120px; */
	border-width: 1.5px;
    border-style: solid;
    border-color: lightgrey;

    border-top-style:solid;
	border-top-width:8px;
	border-top-color:#dd4646;
}
#positive_data_tile {
	margin-top: 18px;
	background-color: #fafafa;
	border: 2px;
	border-color: black;
	/* height: 120px; */
	border-width: 1.5px;
    border-style: solid;
    border-color: lightgrey;

    border-top-style:solid;
	border-top-width:8px;
	border-top-color:#f2d750;
}
#negative_data_tile {
	margin-top: 18px;
	background-color: #fafafa;
	border: 2px;
	border-color: black;
	/* height: 120px; */
	border-width: 1.5px;
    border-style: solid;
    border-color: lightgrey;

    border-top-style:solid;
	border-top-width:8px;
	border-top-color:#f2e0c9;
}
#netsentiment_data_tile {
	margin-top: 18px;
	background-color: #fafafa;
	border: 2px;
	border-color: black;
	/* height: 120px; */
	border-width: 1.5px;
    border-style: solid;
    border-color: lightgrey;

    border-top-style:solid;
	border-top-width:8px;
	border-top-color:#5787a5;
}


/* three layers of the 6 data tiles */
.tile { position: relative; width:220px;}
#top { /*background: #ee3e64;*/ height:35px;}
#middle { 
	/*background: #44accf;*/
	height:80px;
	/*text-align: center;
	vertical-align: middle;
	line-height: 90px;  */
}
#bottom { 
	/*background: #b7d84b;*/ 
	height:70px;
	/*text-align: center;
	vertical-align: middle;
	line-height: 100px;  */
}
.week_data {
	font-size: 32.5px;
	font-weight: bold;
}
.total_data {
	font-size: 20.5px;
	font-weight: bold;
	color:grey;
}
.total_data_label {
	color:grey;
}
/*end of three layers of the 6 data tiles */

.tile_header {
	font-size: 17.5px;
	font-weight: bold;
	line-height: 20px;
	margin: 10px 0 0 10px;
	float: left;
}
.percent_change {
	font-size: 17.5px;
	font-weight: bold;
	line-height: 20px;
	margin: 10px 10px 0 0;
	float: right;
}
#fullWidth_tile {
	margin-top: 18px;
	background-color: #fafafa;
	height: 300px;
	border-width: 1.5px;
    border-style: solid;
    border-color: lightgrey;
}
#usStates_tile {
	margin-top: 18px;
	background-color: #fafafa;
	height: 550px;
	border-width: 1.5px;
    border-style: solid;
    border-color: lightgrey;

    border-top-style:solid;
	border-top-width:8px;
	border-top-color:gray;
}
#table_tile {
	margin-top: 18px;
	background-color: #fafafa;
	height: 345px;
	border-width: 1.5px;
    border-style: solid;
    border-color: lightgrey;

    border-top-style:solid;
	border-top-width:8px;
	border-top-color:gray;
}
#overview_tile {
	margin-top: 18px;
	background-color: #fafafa;
	height: 525px;
	border-width: 1.5px;
    border-style: solid;
    border-color: lightgrey;

    border-top-style:solid;
	border-top-width:8px;
	border-top-color:gray;
}
#chartContainer {
	font: 10px sans-serif;
	position:relative;
	float:left;
}
#energychart {
	stroke: #777;
	stroke-width: 0.1px;
	height: 750px;

}
.metricFilter {
	font: 10px sans-serif;
	float:right;
}
/*
.header {
  	font: 22px sans-serif;
  	margin-left: 350px;
}
*/
.axis path,
.axis line {
  	fill: none;
  	stroke: #000;
  	shape-rendering: crispEdges;
}

.bar {
  	fill: steelblue;
  	text-align: center;
  	margin-left: auto;
  	margin-right: auto;
}

.x.axis path {
  	display: none;
}
.tooltip {
  	position: absolute;
  	text-align: center;
  	width: 80px;
  	height: 20px;
  	padding: 8px;
  	font: 10px sans-serif;
  	background: #ddd;
  	border: solid 1px #aaa;
  	border-radius: 8px;
  	pointer-events: none;
}
table path {
	stroke: #B9090B;
	stroke-width: 1;
	fill: none;		
}
table rect {
	fill: #B9090B;
}
#who_table {
	margin-top:-20px;
}
.poney {
  	margin:0%;
  	background-color:yellow;
  	width:100%;
  	padding-bottom:0%;
  	float:left;
  	position:relative;
  	top:-65px;
}
.tx {
  	width:100%;
  	position:absolute;
  	text-align:center;
  	padding-top:100%;
  	-webkit-transform: translateY(-50%); /* child now centers itself relative to the midline based on own contents */
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  	transform:translateY(-50%);
}
.baloney {
  	margin:0%;
  	background-color:yellow;
  	width:100%;
  	padding-bottom:0%;
  	float:left;
  	position:relative;
  	top:-75px;
}